<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="eventStartUpId" value="1" />
    <add key="eventLogInId" value="4801" />
    <add key="locationEco" value="Eco Tower, BGC" />
    <add key="locationNet" value="Net Square, BGC" />
    <add key="locationDurham" value="Durham" />
    <add key="locationWfh" value="WFH" />
    <add key="enableOutlook" value="False" />
    <add key="defaultEmail" value="k.buendia@ph.fujitsu.com" />
    <add key="shiftsemi" value="Semi-flex" />
    <add key="shiftflex" value="Flexi" />
    <add key="deleteFg" value="2" />
    <add key="addFg" value="1" />
    <!--Marital Status CB-->
    <add key="maritalSingleID" value="1" />
    <add key="maritalSingleDesc" value="Single" />
    <add key="maritalMarriedID" value="2" />
    <add key="maritalMarriedDesc" value="Married" />
    <!--Job Position CB-->
    <add key="posManagerID" value="1" />
    <add key="posJDeveloperID" value="2" />
    <add key="posSDeveloperID" value="3" />
    <add key="posMDeveloperID" value="4" />
    <add key="posInternID" value="5" />
    <add key="posManagerDesc" value="Manager" />
    <add key="posJDeveloperDesc" value="Junior Developer" />
    <add key="posSDeveloperDesc" value="Senior Developer" />
    <add key="posMDeveloperDesc" value="Mid Developer" />
    <add key="posInternDesc" value="Intern" />
    <!--Permission Group-->
    <add key="permManagerID" value="1" />
    <add key="permUserLevelID" value="2" />
    <add key="permManagerDesc" value="Manager" />
    <add key="permUserLevelDesc" value="User Level" />
    <!--Department-->
    <add key="deptRetailID" value="1" />
    <add key="deptRetailDesc" value="Retail Services" />
    <!--Division-->
    <add key="divDevID" value="1" />
    <add key="divQAID" value="2" />
    <add key="divDevDesc" value="Dev Team" />
    <add key="divQADesc" value="QA Team" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basic" />
        <binding name="basic1" />
      </basicHttpBinding>
      <wsDualHttpBinding>
        <binding name="dual" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:49627/AIDEService.svc/basic" binding="basicHttpBinding" bindingConfiguration="basic" contract="ServiceReference1.IAideService2" name="basic" />
      <endpoint address="http://localhost:49627/AIDEService.svc/dual" binding="wsDualHttpBinding" bindingConfiguration="dual" contract="ServiceReference1.IAideService" name="dual">
        <identity>
          <userPrincipalName value="AIDE-VM-WIN10\AIDE-Win10" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PresentationFramework" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PresentationCore" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="UIAutomationProvider" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WindowsBase" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>