<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target 
        name="aide-log" 
        xsi:type="File" 
        fileName="${specialfolder:folder=ApplicationData}/Rsx-Labs/AIDE/aide-commcell-trace.log" 
        layout="${longdate}::${level:uppercase=true}::${logger}::${message}"
        maxArchiveFiles="4"
        archiveAboveSize="1000240"
        archiveEvery="Day"
    />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="aide-log" />
  </rules>
</nlog>